@use "components/flexbox";
@use "components/button";

.postFilterSelector {
  @extend .container;
  max-width: 700px;
}
.filterBtn {
  @extend .btn;
  text-align: center;
  width: auto;
  padding-bottom: 0px;
}
